.hero-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(15, 15, 0);
}
.hero-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  }

.hero-content h1{
    color: rgb(255, 166, 0);
    font-size: 2.2rem;
    padding-bottom: 10px;
    margin-top: 25%;
}

.hero-content p{
    color: rgb(255, 255, 182);
    font-size: 1.3rem;
    margin-top: 10px;
}

strong{
  color: yellow;
}

.hero-btn{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-top: 20px;
  font-size: 1.1rem;
} 

.hero-btn .resume{
  background-color: rgb(255, 166, 0);
  color:  rgb(5, 0, 0) ;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.hero-btn .resume:hover{
  background-color: rgb(247, 226, 108);
  transform: scale(0.98);
}

.hero-btn .chat{
  border: 1px solid rgb(255, 166, 0);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgb(255, 166, 0);
  transition: 0.5s;
  cursor: pointer;
}


.hero-btn .chat:hover{
  background-color: rgb(247, 226, 108);
  color: rgb(5, 0, 0);
  transform: scale(0.98);
}

@media (max-width: 600px) {
  .hero-wrapper{
    margin-bottom: 50px;
    text-align: center;
  }
  .hero-container {
    flex-direction: column;
    gap: 0px;
    
    }

    .hero-content h1{
      font-size: 2rem;
  }

  .hero-image img{
    margin-top: -120px;
  }

  .hero-btn{
    width: 100%;
    flex-direction: column;
    gap: 10px;

  }


}