.skill-wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-container{
    width: 50%;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.skill-container .left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h1{
    color:  rgb(255, 166, 0) ;
    font-size: 2rem;
    border-bottom: 2px solid rgb(5, 0, 0);
    position: relative;
    padding-bottom: 10px;
}

.left h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 166, 0);
    left: 0;
    bottom: 0;
}


.skill-container .right{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 0;
    text-align: center;
    padding: 30px;
    cursor: pointer;

}

.right div {
    position: relative;
    transition: 0.5s;
}

.right div:hover h2 {
    bottom: 50%;
    opacity: 1;
    color: rgb(5, 0, 0);
}


.right h2{
    position: absolute;
    bottom: 0;
    left: 35%;
    transition: 0.5s;
    opacity: 0;
}


.right div img{
    width: 90%;
    transition: 0.5s;
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 2px rgb(5, 0, 0), -1px -1px 2px rgb(5, 0, 0) ;

}

.right div img:hover{
    transform: scale(0.98);
}

.experience-container{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 10px 0;
    gap: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.experience-right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.experience-left,
.experience-right .frontend,
.experience-right .backend {
    background-color: rgb(49, 41, 41);
    padding: 10px;
    text-align: center;
    color: yellow;
    transition: 0.5s;
    cursor: pointer;
}

.experience-left:hover,
.experience-right .frontend:hover,
.experience-right .backend:hover {
    transform: scale(0.98);

    
}


@media (max-width: 600px) {
    .skill-container .right{
        grid-template-columns: repeat(2, 1fr);
   
    }

    .skill-container{
        width: 80%;

    }
    

    .right h2{
        font-size: 1rem;
    }    
}