.footer-wrapper{
    width: 100%;
    background-color: rgb(15, 15, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    border-top: 1px solid yellow;

}
.Foot-container{
    width:50%;
    padding:10px;
    text-align: center;
    display: flex;
    margin: 10px auto;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.fa-facebook, 
.fa-twitter,
.fa-instagram{    
    transition: 0.5s; 
    color: yellow;
    font-size: 1.1rem;

}


.links{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Foot-container p{
    font-family: Arima, serif;
    color: rgb(255, 255, 182);
    font-style: italic;
    margin-top: 10px;
}

.footer-wrapper .logo img{
    width: 60px;
    height: 60px;
}

.footer-wrapper .logo h4{
    margin-top: -15px;
    color: yellow;
}


@media (max-width: 600px) {


    .Foot-container{
        width:80%;
        padding:  0px;
        flex-direction: column;
        justify-content: space-between;

    }


}